body {
    margin: 0;
    font-family: Arial;
    background: #111;
    color: white;
    text-align: center;
}

header {
    background: red;
    padding: 15px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    height: 80vh;
    background: url("https://images.unsplash.com/photo-1558611848-73f7eb4001a1") center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h2 {
    background: rgba(0,0,0,0.6);
    padding: 20px;
}

.services {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 30px;
}

.card {
    background: #222;
    padding: 20px;
    width: 220px;
    border-radius: 10px;
}

.form-container {
    background: #222;
    width: 300px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: red;
    border: none;
    padding: 10px;
    color: white;
    width: 100%;
    cursor: pointer;
}
